body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background: var(--main-color-gradient);
  color: var(--text-color-light);
  text-align: center;
  padding: 20px;
}

.main-content {
  flex: 1;
}

footer {
  background: var(--main-color-gradient);
  color: var(--text-color-light);
  text-align: center;
  padding: 20px;
}

header h1,
footer h1,
header h3,
footer h3 {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

nav {
  display: flex;
  background-color: var(--main-color);
  color: var(--text-color-light);
  padding: 10px;
}

nav div {
  flex-grow: 1;
}

nav menu {
  padding: 0px;
  margin: 0px;
}

nav .nav-btn-left {
  text-align: left;
}

nav .nav-btn-right {
  text-align: right;
}

nav .nav-btn-right form {
  display: flex;
  justify-content: flex-end;
}

nav .nav-btn-right form input {
  width: 40%;
  border: none;
  padding: 10px;
  margin: 0px;
  color: var(--text-color-dark);
}

nav .nav-btn-right form button {
  background: var(--main-color-gradient);
  color: var(--text-color-light);
  border: none;
  padding: 10px;
  margin: 0px;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline;
  margin: 1px;
  padding: 0px;
}

nav a,
nav span {
  display: inline-block;
  color: var(--text-color-light);
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: var(--main-color-light);
}

nav span:hover {
  background-color: var(--main-color-light);
  cursor: pointer;
}

.active {
  background-color: var(--main-color-light);
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav .nav-btn-right form {
    flex-direction: column;
    margin-top: 5px;
  }

  nav .nav-btn-right form input {
    width: auto;
    margin-bottom: 5px;
  }

  nav .nav-btn-right form button {
    width: 100%;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav li {
    width: 100%;
    display: block;
  }

  nav a {
    display: block;
    text-align: center;
  }

  footer {
    position: relative;
  }
}
